* { /* Gælder alt på hele siden */
  box-sizing: border-box; /* Bokse har altid den størrelse man giver uanset om der tilføjes margen, padding mv. */
}

/* Ovenstående kode kan give problemer ved nogle 3. parts scripts man henter. Men det gør det nemmere at forstå og lave kodning når man starter. */

body {
  margin: 0; /* Ingen kanter i siden af browser */
  background-image: url("https://camillekirstine.com/background/background1.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; /* Ingen ydre margen fra overskrifter */
  padding: 0; /* Ingen indre margen fra overskrifter */
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-style: normal;
}

ul, ol {
  margin: 2px 10px 2px 10px; /* Mindre margen på punkter */
  padding: 0; /* Ingen indre margen fra lister */
  list-style-position: inside; /* List punkter står på linje */
  font-family: Poppins, sans-serif;
  color: #24284f;
}

li {
  margin: 0; /* Ingen ydre margen fra listpunkter */
  font-family: Poppins, sans-serif;
  color: #24284f;
}

p {
  margin: 0; /* Ingen ydre margen fra paragraffer */
  padding: 0; /* Ingen indre margen fra paragraffer */
  font-family: Poppins, sans-serif;
  font-style: normal;
}

/* Sikrer billeder er responsive */
img {
  display: block; /* Billeder er et element (laver linjeskift) */
  max-width: 100%; /* Bredde må maks fylde 100% */
  height: auto; /* Højden skal tilpasse sig */
}

main {
  min-height: calc(100vh - 130px);


}

a {
  font-family: Poppins;
  font-weight: bold;
  color: #24284f;
  text-decoration: none;
}

a:hover {
  color: orange;
}

.btnfront {
  height: 100px;
  color: antiquewhite;
  background-color: #ea7d24;
  border-radius: 40px;
  border: none;
  font-size: 2rem;

}
.btnfront a {
  color: antiquewhite;
  text-decoration: none;

}


.btnfront:hover {
  color: antiquewhite;
  background-color: #efae73 ;
  font-size: 2.5rem;
}


footer {
  bottom: 0%;
  background-color: #24284f;
  color: antiquewhite;
  height: 130px;
}

footer a {
  color: antiquewhite;
  font-size: 2rem;
}

footer a:hover {
  color: orange;
}

.navbar-brand {
  height: 50px;
  width: auto;
}

nav {
  background-color: #24284f;

}

.nav-link {
  color: antiquewhite;
  font-size: 1.5rem;
}

.nav-link:hover {
  color: orange;
}

.infobox {
  margin-bottom: 50px;
  margin-top: 50px;
  border: solid 10px;
  border-color: #33396e;
  border-radius: 10px;
  opacity: 90%;

}

.frontwelcome {
  color: #24284f;
}

.btninfo {

  height: 100px;
  color: antiquewhite;
  background-color: #ea7d24;
  border-radius: 40px;
  border: none;
  width: 500px;
}

.btninfo a {
  text-decoration: none;
  color: antiquewhite;
  font-size: 1.5rem;
}

.btninfo:hover {
  background-color: #efae73;
  font-weight: bold;
}

input {
  text-align: center;
  width: 300px;
  height: 50px;
  font-size: 1.2rem;
  padding: 5px;
  border-radius: 20px;
  border: solid;
  border-color: #ea7d24;
  font-family: Poppins, sans-serif;

}

label {
  font-size: 1.2rem;
  color: #24284f;
  font-family: Poppins, sans-serif;
  font-weight: bold;
}

textarea {
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
  padding: 10px;
  border: solid;
  border-color: #ea7d24;
  border-radius: 20px;
  width: 300px;
}

.btncontact {
  height: 100px;
  color: antiquewhite;
  background-color: #ea7d24;
  border-radius: 40px;
  border: none;
  font-size: 1.5rem;
  padding: 20px;
}

.btncontact:hover {
   color: antiquewhite;
   background-color: #efae73;
  font-size: 2rem;
  }

.portfoliolink:hover {
  color: #ea7d24;
}

.logolink {
 border: solid 5px;
 border-color: #33396e;
 border-radius: 10px;
  background-color: #7795e8;
 
}


.logolink:hover {
  border: 12px solid;
  border-color: #ea7d24;
  opacity: 100%;
  background-color: #efae73;
}

@media screen and (max-width: 600px) {

  .btnfront {
    font-size: 1.5rem;
    width: fit-content;
    padding: 30px;
  }

  .btnfront:hover {
    font-size: 1.5rem;
  }

  footer {
    font-size: 0.5rem;

  }

  .btninfo {
    width: 300px;
  }

  .btninfo a {
    font-size :1rem;
  }

  textarea {
    width: 300px;
  }

}


@media screen and (min-width: 600px) {
  .presentationavatar {
    height: 900px;
    width: auto;
  }
}
